.contact-form-section{
    padding: 4rem;
    background: #eaeaea;
   

}

.contact-form {
    border: 1px solid #fff;
    background: #fefefe;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 0.25rem;
    text-align: center;
}

.MuiFormControl-root.MuiTextField-root {
    width: 75%;
    margin: 1rem auto;
}

#contact-button {
    display: block;
    margin: 0.25rem auto 1.25rem auto;
    width: 6rem;
}