footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #D26363;
    color: #fff;
    height: 250px;
  }
  footer nav a {
    margin-left: 1.5rem;
    color: inherit;
  }
  footer nav a:first-child {
    margin-left: 0;
  }
  
  footer img {
    max-width: 400px;
    max-height: 150px;
  }
  